html, body { width:100%; height:100%; }
html {
     font-size: 62.5%;
     font-family: 'Tomorrow', sans-serif;
     box-sizing: border-box;
}

*, *::before, 
*::after {
     box-sizing: inherit;
     padding: 0;
     margin: 0;
}

body {
     background: #06beb6;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
     max-width: 100%;
}

h1 {
     font-size: 3.5rem;
}

#contenedor_master {
	width:100%; height:100%;
	position:fixed; top:0px;
	background-image: url(../img/back_pantalla_dinamica.png);
	background-size: cover; z-index:-1;
	background-repeat:no-repeat;
	filter:sepia(30%);
}
div.contenedor-general {
     width: 95%; max-width: 100%;
     margin: 0 auto; height: 100%!important;
}

h1.titulo {
     text-align: center; margin: 2rem 0;
     display: block; color:white;
}

div.contenedor-tarjetas {
     display: flex; justify-content: space-around;
     flex-wrap: wrap;
}

div.tarjeta {
     background-image: url(../img/cover.jpg);
	 background-color: #fff;
     width: 12rem;
     height: 14rem;
     display: flex;
     justify-content: center;
     align-items: center;
     -webkit-box-shadow: 4px 6px 17px -4px rgba(0,0,0,0.75);
     -moz-box-shadow: 4px 6px 17px -4px rgba(0,0,0,0.75);
     box-shadow: 4px 6px 17px -4px rgba(0,0,0,0.75);
     margin: 2rem 2rem;
     border-radius: 1rem;
     padding: .5rem;
     position: relative;
}

img.tarjeta-img {
     display: none;
	 background: #fff;
}

/* Adicionales */

.acertada {
     display: block;
}

div.pantalla-bloqueada {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     background-color: rgba(0,0,0,0.75);
     z-index: 5;
     display: none;
}

h2.mensaje {
     font-size: 5rem;
     color: white;
     z-index: 10;
     text-align: center;
     margin: 32rem 0;
}

div.error {
     position: absolute;
     bottom: 5rem;
     font-size: 3rem;
}

div.nivel-dificultad {
     position: absolute;
     bottom: 5rem;
     font-size: 3rem;
     right: 21rem;
}
.resultados {
	margin-bottom:10px;
}
.resultados > div {
	font-size:2rem!important;
	color:white;
}
#msjFinal {
	text-align:center;
	font-size:2rem;
}
#pantalla_dinamica {
	width:100%; height:100%;
	background-image:url(../img/back_pantalla_dinamica.png); background-size:cover;
	background-repeat:no-repeat; background-attachment: inherit;
	position:fixed; z-index:2222!important;
	top:0px!important; display:block;
	justify-content:center; align-items:center;
}
#pantalla_dinamica_cont {
	width:100%; height:100%;
	display:flex; flex-direction: column;
	justify-content:center; align-items:center;
}
#pantalla_dinamica_cont h1 {
	color:white; font-size:4.5rem;
	text-shadow:5px 5px 8px #333;
}
#btn_nivel_1, #btn_nivel_2, #btn_nivel_3, #reset {
	box-shadow:5px 5px 8px #333;
}