html, body {
    height:100%; width:100%;
    margin:0px; padding:0px;
}
body {
    background-color:green;
}
h1 {
    font-family: impact;
    color:white;
    letter-spacing: 0.3vw;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}