<div class="container_page">
  <h1 class="titulo f_celeste">Clientes</h1>
  <div class="alert alert-dismissible m-0 text-center" style="display:none;" role="alert">
    <span class="txt_result"></span>
  </div>
  <div class="text-center" *ngIf="cargando else cargado">
    <img src="assets/cargando_gif.gif" class="img-fluid mt-5 loading_gif" alt="">
  </div>
  <ng-template #cargado>
    <button class="btn btn-success btn-lg my-2 mx-2" data-toggle="modal" data-target="#agregarCliente" (click)="fadeInAddCliente()"><i class="fa fa-plus btn_icono"></i>&nbsp;&nbsp;Agregar cliente</button>
  <table class="table table-striped">
      <thead>
          <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cédula</th>
          <th scope="col">Correo</th>
          <th scope="col">Celular</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let cliente of clientes; index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.ci}}</td>
              <td>{{cliente.correo}}</td>
              <td>{{cliente.celular}}</td>
              <td>
                  <button class="btn btn-primary mr-2" data-toggle="modal" data-target="#editarCliente" (click)="editarCliente(cliente.ci, cliente.nombre, cliente.correo, cliente.celular )">
                    <i class="fa fa-edit btn_icono"></i>
                  </button>
                  <button class="btn btn-danger" data-toggle="modal" data-target="#eliminarCliente" (click)="preEliminarCliente(cliente.ci)">
                    <i class="fa fa-trash btn_icono"></i>
                  </button>
              </td>
          </tr>
      </tbody>
    </table>
  </ng-template>

  <!-- EDITAR CLIENTE -->
  <div class="modal" id="editarCliente" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header f_celeste">
          <h5 class="modal-title">Editar Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="clienteEditado()">
            <div class="form-group">
              <label for="nombre" class="col-form-label">Nombre</label>
              <input type="text" name="nombre" [(ngModel)]="editCliente.nombre" [ngModelOptions]="{standalone: true}" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="correo" class="col-form-label">Correo</label>
              <input type="text" name="correo" [(ngModel)]="editCliente.correo" [ngModelOptions]="{standalone: true}" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" required>
            </div>
            <div class="form-group">
              <label for="celular" class="col-form-label">Celular</label>
              <input type="text" name="celular" [(ngModel)]="editCliente.celular" [ngModelOptions]="{standalone: true}" class="form-control" required>
            </div>
            <div class="text-center">
              <button class="btn btn-success w-75 mt-3" type="submit" data-dismiss="modal" (click)="clienteEditado()">Actualizar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- AGREGAR CLIENTE -->
  <div class="modal" id="agregarCliente" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header f_celeste">
          <h5 class="modal-title">Nuevo Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="nombre" class="col-form-label">Nombre</label>
              <input type="text" name="nombre" (keyup)="evalForm()" [(ngModel)]="addCliente.nombre" [ngModelOptions]="{standalone: true}" placeholder="Escriba un nombre" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="ci" class="col-form-label">CI <span style="font-size:0.8rem;display:none;" class="ci_exist"></span></label>
              <input id="nombre" type="text" name="ci" #add_form_ci (keyup)="buscarCedula(add_form_ci.value)" [(ngModel)]="addCliente.ci" [ngModelOptions]="{standalone: true}" placeholder="Escriba una cédula" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="correo" class="col-form-label">Correo <span style="font-size:0.8rem;display:none;" class="correo_exist"></span></label>
              <input type="text" name="correo" #add_form_mail (keyup)="buscarCorreo(add_form_mail.value)" [(ngModel)]="addCliente.correo" [ngModelOptions]="{standalone: true}" placeholder="Escriba un correo" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="celular" class="col-form-label">Celular</label>
              <input id="celular" type="text" name="celular" (keyup)="evalForm()" [(ngModel)]="addCliente.celular" [ngModelOptions]="{standalone: true}" placeholder="Escriba un celular" class="form-control" required>
            </div>
            <div class="text-center">
              <input id="btnAddCliente" type="submit" class="btn btn-success w-75 mt-3" data-dismiss="modal" value="Agregar" (click)="agregarCliente()">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ELIMINAR CLIENTE -->
<div class="modal" id="eliminarCliente" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header f_violeta">
        <h5 class="modal-title">¿Deseas realmente eliminar este cliente?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p>Ten presente que se eliminarán los pedidos asociados a su cédula</p>
          <button class="btn btn-danger mr-2" (click)="eliminarCliente()" data-dismiss="modal" aria-label="Close">
            Eliminar
          </button>
        <button class="btn btn-info" data-dismiss="modal" aria-label="Close">
          Cancelar
        </button>
        </div>
      </div>
    </div>
  </div>
</div>