<div class="container_page">
  <h1 class="titulo f_violeta">Pedidos</h1>
  <div class="alert alert-dismissible m-0 text-center" style="display:none;" role="alert">
    <span class="txt_result"></span>
  </div>
  <div class="text-center" *ngIf="cargando else cargado">
    <img src="assets/cargando_gif.gif" class="img-fluid mt-5 loading_gif" alt="">
  </div>
  <ng-template #cargado>
    <button class="btn btn-success btn-lg my-2 mx-2" data-toggle="modal" data-target="#agregarStock" (click)="fadeInAddStock()"><i class="fa fa-plus btn_icono"></i>&nbsp;&nbsp;Agregar pedido</button>
    <table class="table table-striped">
      <thead>
          <tr>
          <th scope="col">#</th>
          <th scope="col">Cliente</th>
          <th scope="col">Correo</th>
          <th scope="col">Producto</th>
          <th scope="col">Precio c/u</th>
          <th scope="col">Cantidad</th>
          <th scope="col"><b>TOTAL</b></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let stock of stock; index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{stock.cliente.nombre}}</td>
              <td>{{stock.cliente.correo}}</td>
              <td>{{stock.producto.descripcion}}</td>
              <td>{{'U$S '+stock.producto.precio}}</td>
              <td>{{stock.cantidad}}</td>
              <td>{{'U$S '+stock.producto.precio*stock.cantidad}}</td>
              <td>
                  <button class="btn btn-primary mr-2" data-toggle="modal" data-target="#editarStock"
                  (click)="editarStock(
                    stock.id,
                    stock.producto.id_producto,
                    stock.producto.descripcion,
                    stock.cliente.ci,
                    stock.cliente.nombre,
                    stock.cantidad)">
                    <i class="fa fa-edit btn_icono"></i>
                  </button>
                  <button class="btn btn-danger" data-toggle="modal" data-target="#eliminarStock" (click)="preEliminarStock(stock.id)">
                    <i class="fa fa-trash btn_icono"></i>
                  </button>
              </td>
          </tr>
      </tbody>
    </table>
  </ng-template>

  <!-- EDITAR ITEM DE STOCK -->
  <div class="modal" id="editarStock" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header f_violeta">
          <h5 class="modal-title">Editar Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Datos Actuales</h4>
          <ul>
            <li>Producto: {{datosActuales.nombre_producto}}</li>
            <li>Cliente: {{datosActuales.nombre_cliente+' - '+datosActuales.ci_cliente}}</li>
            <li>Cantidad: {{datosActuales.cantidad}}</li>
          </ul>
          <form (ngSubmit)="stockEditado()">
            <div class="form-group">
              <label for="ci_cliente" class="col-form-label">Producto</label>
                <select [(ngModel)]="editStock.id_producto" [ngModelOptions]="{standalone: true}" class="form-control">
                  <option *ngFor="let producto of productos_list" [value]="producto['id_producto']">
                    {{producto.descripcion}}
                  </option>
                </select>
            </div>
            <div class="form-group">
              <label for="ci_cliente" class="col-form-label col-2">Cliente</label>
              <select [(ngModel)]="editStock.ci_cliente" [ngModelOptions]="{standalone: true}" class="form-control">
                <option *ngFor="let cliente of clientes_list" [value]="cliente['ci']" >
                  {{cliente['nombre']}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="ci_cliente" class="col-form-label col-2">Cantidad</label>
              <input type="number" [(ngModel)]="editStock.cantidad" [ngModelOptions]="{standalone: true}" class="form-control" />
            </div>
            <div class="text-center">
              <button class="btn btn-success w-75 mt-3 mr-2" type="submit" data-dismiss="modal" (click)="stockEditado()">Actualizar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- AGREGAR ITEM DE STOCK -->
  <div class="modal" id="agregarStock" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header f_violeta">
          <h5 class="modal-title">Nuevo Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="ci_cliente" class="col-form-label">Producto</label>
              <select [(ngModel)]="addStock.id_producto" [ngModelOptions]="{standalone: true}" class="form-control">
                <option *ngFor="let producto of productos_list_todos" [value]="producto['id_producto']">
                  {{producto['descripcion']}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="ci_cliente" class="col-form-label">Cliente</label>
              <select [(ngModel)]="addStock.ci_cliente" [ngModelOptions]="{standalone: true}" class="form-control">
                <option *ngFor="let cliente of clientes_list_todos" [value]="cliente['ci']" >
                  {{cliente['nombre']}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="ci_cliente" class="col-form-label">Cantidad</label>
              <input type="number"[(ngModel)]="addStock.cantidad" [ngModelOptions]="{standalone: true}" class="form-control" />
            </div>
              <div class="text-center">
                <button class="btn btn-success w-75 mt-3" type="submit" data-dismiss="modal" (click)="agregarStock()">Agregar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- ELIMINAR ITEM DE STOCK -->
  <div class="modal" id="eliminarStock" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header f_violeta">
          <h5 class="modal-title">¿Deseas realmente eliminar este item?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <button class="btn btn-danger mr-2" (click)="eliminarStock()" data-dismiss="modal" aria-label="Close">
              Eliminar
            </button>
          <button class="btn btn-info" data-dismiss="modal" aria-label="Close">
            Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>